.btn {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-small);
    cursor: pointer;
    transition: 0.5s;
    border-radius: var(--radius-xl);
}

.btn-primary {
    border: 1px solid var(--button-primary-border-color);
    background-color: var(--button-primary-color);
    color: var(--backgroung-main-color);
    margin: 0;
    min-width: 112px;
    padding: 12px 24px;
}

.btn-primary:hover {
    background-color: var(--backgroung-hover-primary-color);
}

.btn-primary:active {
    background-color: var(--backgroung-active-primary-color);
}

.btn-secondary {
    border: 1px solid var(--button-secondary-border-color);
    background-color: var(--button-secondary-color);
    color: var(--text-secondary-color);
    min-width: 112px;

}

.btn-secondary:hover {
    color: var(--text-hover-secondary-color);
}

.btn-secondary:active {
    background-color: var(--backgroung-active-secondary-color);
    color: var(--text-active-primary-color);
}

.btn--small {
    font-size: var(--font-size-small);
    padding: var(--spacing-xs) 24px;
}

.btn-arrow-down {
    margin-bottom: 184px;
    border: 1px solid var(--background-surface-stroke-color);
    background-color: var(--backgroung-main-color);
    padding: 26px 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #000000;

}

.btn-arrow-down:hover {
    color: var(--btn-hover);
    border-color: var(--btn-hover);
}

.btn-arrow-down:active {
    color: var(--btn-active);
    border-color: var(--btn-active);
}

/*//*/

.btn-category {
    border: 1px solid var(--button-secondary-border-color);
    background-color: var(--background-surface-fill2-color);
    color: var(--text-secondary-color);
    min-width: 112px;
    padding: 12px 24px;
}

.btn-category:hover {
    color: var(--category-hover);
    border-color: var(--category-hover);
}

.btn.btn-category:active {
    color: var(--category-active);
    border-color: var(--category-active);
}

.btn-arrow {
    border: 1px solid var(--button-primary-border-color);
    background-color: var(--button-primary-color);
    color: var(--text-neutral-color);
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: var(--spacing-xs);
    right: var(--spacing-xs);
}

/*//*/

.recommend__cards-bottom-action {
    @media (max-width: 1024px) {
        width: 100%;
    }
}
.btn-more {
    text-align: center;
    margin: 0 auto;
    font-size: var(--font-size-p);
    border: 1px solid var(--button-primary-border-color);
    background-color: var(--button-secondary-color);
    color: var(--text-primary-color);
    padding: 12px 28px;
}

.btn-more:hover {
    background-color: var(--backgroung-hover-secondary-color);
    color: var(--text-hover-secondary-color);
}

.btn-more:active {
    background-color: var(--backgroung-active-secondary-color);
    color: var(--text-active-primary-color);
}

/*//*/

.contact-us__form-btn {
    display: flex;
    padding: 21px 152px;
    margin-top: 32px;
    margin-bottom: 52px;

    border-radius: 1000px;
    border: 1px solid var(--background-surface-fill2-color);
    background-color: var(--button-primary-color);

    color: var(--text-hero-color);
    font-size: 20px;
    font-weight: 400;
}

.contact-us__form-btn:hover {
    background-color: var(--backgroung-hover-primary-color);
}

.contact-us__form-btn:active {
    background-color: var(--backgroung-active-primary-color);
}

.contact-us__form-btn:disabled {
    background-color: var(--backgroung-disabled-color);

}




