.btn {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-small);
    cursor: pointer;
    transition: 0.3s;
    border-radius: var(--radius-xl);
}

.btn-primary {
    border: 1px solid var(--button-primary-border-color);
    background-color: var(--button-primary-color);
    color: var(--backgroung-main-color);
    margin: 0;
    min-width: 112px;
    padding: 12px 24px;
}

.btn-primary:hover {
    background-color: var(--backgroung-hover-primary-color);
}

.btn-primary:active {
    background-color: var(--backgroung-active-primary-color);
}

.btn-secondary {
    border: 1px solid var(--button-secondary-border-color);
    background-color: var(--button-secondary-color);
    color: var(--text-secondary-color);
    min-width: 112px;

}

.btn-secondary:hover {
    color: var(--text-hover-secondary-color);
}

.btn-secondary:active {
    background-color: var(--backgroung-active-secondary-color);
    color: var(--text-active-primary-color);
}

.btn--small {
    font-size: var(--font-size-small);
    padding:var(--spacing-8) 24px;
}
.btn-arrow-down {
    margin-bottom: 184px;
    border: 1px solid var(--background-surface-stroke-color);
    background-color: var(--backgroung-main-color);
    padding: 26px 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #000000;

}

.btn-arrow-down:hover {
    color: var(--btn-hover);
    border-color: var(--btn-hover);
}

.btn-arrow-down:active {
    color: var(--btn-active);
    border-color: var(--btn-active);
}

/*//*/

.btn-category {
    border: 1px solid var(--button-secondary-border-color);
    background-color: var(--background-surface-fill2-color);
    color: var(--text-secondary-color);
    min-width: 112px;
    padding: 12px 24px;
}

.btn-category:hover {
    color: var(--category-hover);
    border-color: var(--category-hover);
}

.btn.btn-category:active {
    color: var(--category-active);
    border-color: var(--category-active);
}
.btn-arrow {
    border: 1px solid var(--button-primary-border-color);
    background-color: var(--button-primary-color);
    color: var(--text-neutral-color);
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom:var(--spacing-8);
    right:var(--spacing-8);
}

/*//*/

.recommend__btn {
    min-width: 182px;
    display: flex;
    justify-content: center;

}
.btn-more {
    text-align: center;
    margin: 0 auto;
    font-size: var(--font-size-p);
    border: 1px solid var(--button-primary-border-color);
    background-color: var(--button-secondary-color);
    color: var(--text-primary-color);
    padding: 12px 28px;
}

.btn-more:hover {
    background-color: var(--backgroung-hover-secondary-color);
    color: var(--text-hover-secondary-color);
}

.btn-more:active {
    background-color: var(--backgroung-active-secondary-color);
    color: var(--text-active-primary-color);
}

/*//*/




