@import "src/styles/base/colors.css";
@import "src/styles/base/tokens.css";
@import "src/styles/base/typography.css";
@import "src/styles/base/helpers.css";


@import "src/styles/components/button.css";


@import "src/styles/sections/header.css";
@import "src/styles/sections/homepage.css";
@import "src/styles/sections/about.css";
@import "src/styles/sections/services.css";
@import "src/styles/sections/recommendations.css";
@import "src/styles/sections/features.css";
@import "src/styles/sections/faq.css";
@import "src/styles/sections/submit.css";
@import "src/styles/sections/footer.css";


ul {
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1360px;
    margin: 0 auto;
    padding-inline: 40px;
}

.container.container--narrow {
    max-width: 1072px;
    padding-inline: 24px;
}

* {
    box-sizing: border-box;
}

/*  */



