<div class="container-faq">
    <section class="faq">
        <header>
            <h2 class="faq-h">Frequently Asked Questions (FAQ)</h2>
            <p class="faq-p">Quickly find answers to common real estate queries in our comprehensive FAQ section.
                Simplify your
                property journey effortlessly.</p>
        </header>

        <details class="faq__item">
            <summary class="faq__summary">How do I start the home buying process?
            </summary>
            <p class="p p-details">Begin by determining your budget and preferences. Then, explore listings online or
                contact a
                real estate
                agent to help you find suitable properties.
            </p>
        </details>

        <details>
            <summary>What factors should I consider when choosing a neighborhood?
            </summary>
            <p class="p p-details">Text</p>
        </details>

        <details>
            <summary>How can I determine the value of my property?
            </summary>
            <p class="p p-details">Text</p>
        </details>

        <details>
            <summary>What steps are involved in selling a home?
            </summary>
            <p class="p p-details">Text</p>
        </details>

        <details>
            <summary>How can I improve my credit score before applying for a mortgage?
            </summary>
            <p class="p p-details">Text</p>
        </details>
    </section>
</div>
