<section class="faq">
    <div class="faq__wrapper container">
        <header class="faq__header">
            <h2 class="faq__title">Frequently Asked Questions (FAQ)</h2>
            <p class="faq__description">Quickly find answers to common real estate queries in our comprehensive FAQ
                section.
                Simplify your
                property journey effortlessly.</p>
        </header>

        <details class="faq__items">
            <summary class="faq__items-summary">
                How do I start the home buying process?
            </summary>
            <p class="faq__items-answer">
                Begin by determining your budget and preferences. Then, explore listings online or
                contact a
                real estate
                agent to help you find suitable properties.
            </p>
        </details>

        <details class="faq__items">
            <summary class="faq__items-summary">
                What factors should I consider when choosing a neighborhood?
            </summary>
            <p class="faq__items-answer">
                Text
            </p>
        </details>

        <details class="faq__items">
            <summary class="faq__items-summary">How can I determine the value of my property?
            </summary>
            <p class="faq__items-answer">
                Text
            </p>
        </details>

        <details class="faq__items">
            <summary class="faq__items-summary">What steps are involved in selling a home?
            </summary>
            <p class="faq__items-answer">
                Text
            </p>
        </details>

        <details class="faq__items">
            <summary class="faq__items-summary">
                How can I improve my credit score before applying for a mortgage?
            </summary>
            <p class="faq__items-answer">
                Text
            </p>
        </details>
    </div>
</section>

