<section class="features">
    <header class="features header">
        <h2 class="features-h">Exceptional Features for Real Estate Excellence</h2>
        <p class="p features-p">Discover standout features elevating real estate experiences, ensuring excellence
            and efficiency in every
            interaction. Explore now for unparalleled service.</p>
    </header>

    <div class="f-cards">
        <article class="features-card">
            <img src="src/img/features-one.png" alt="features" width="532px" height="302px">
            <h3>Instant process to get house dream</h3>
            <p class="p">FramerAuth validates user's access rights to tiered plans ensuring a seamless user
                experience
            </p>
        </article>

        <article class="features-card">
            <img src="src/img/features-two.png" alt="features" width="807px" height="302px">
            <h3>Discount Up to 50% for new user</h3>
            <p class="p">Don't miss out on this incredible opportunity to find your dream home at unbeatable prices!
            </p>
        </article>

        <article class="features-card">
            <img src="src/img/features-three.png" alt="features" width="820px" height="302px">
            <h3>Use Generated Search for to find your Location </h3>
            <p class="p">Utilise Generated Search to pinpoint your precise geographical location accurately and
                efficiently</p>
        </article>

        <article class="features-card">
            <img src="src/img/features-four.png" alt="features" width="520px" height="302px">
            <h3>More Than 1 Million Partners</h3>
            <p class="p">Connecting over one million partners for real estate</p>
        </article>
    </div>
</section>


