<section class="features" id="features">
    <div class="features__wrapper container">
        <header class="features__header">
            <h2 class="features__title">
                Exceptional Features for Real Estate Excellence
            </h2>
            <p class="features__description">
                Discover standout features elevating real estate experiences, ensuring excellence
                and efficiency in every
                interaction. Explore now for unparalleled service.
            </p>
        </header>

        <div class="features__cards">
            <article class="features__card features__card-short-one">
                <picture>
                    <source
                            media="(max-width: 1024px)"
                            srcset="src/img/features-one-tablet.png"
                    >
                    <img class="features__card-image features__card-image--one"
                         src="src/img/features-one.png"
                         alt="features"
                    >
                </picture>
                <div class="features__card-bottom">
                    <h3 class="features__card-title">
                        Instant process to get house dream
                    </h3>
                    <p class="features__card-description">
                        FramerAuth validates user's access rights to tiered plans ensuring a seamless user
                        experience
                    </p>
                </div>
            </article>

            <article class="features__card features__card-long-one">
                <picture>
                    <source
                            media="(max-width: 420px)"
                            srcset="src/img/features-two-mobile.png"
                    >
                    <img class="features__card-image features__card-image--two"
                         src="src/img/features-two.png"
                         alt="features"
                    >
                </picture>
                <div class="features__card-bottom">
                    <h3 class="features__card-title">
                        Discount Up to 50% for new user
                    </h3>
                    <p class="features__card-description">
                        Don't miss out on this incredible opportunity to find your dream home at unbeatable prices!
                    </p>
                </div>
            </article>

            <article class="features__card features__card-long-two">
                <picture>
                    <source
                            media="(max-width: 420px)"
                            srcset="src/img/features-three-mobile.png"
                    >
                    <img class="features__card-image"
                         src="src/img/features-three.png"
                         alt="features"
                    >
                </picture>
                <div class="features__card-bottom">
                    <h3 class="features__card-title">
                        Use Generated Search for to find your Location
                    </h3>
                    <p class="features__card-description">
                        Utilise Generated Search to pinpoint your precise geographical location accurately and
                        efficiently
                    </p>
                </div>
            </article>

            <article class="features__card features__card-short-two">
                <picture>
                    <source
                            media="(max-width: 1024px)"
                            srcset="src/img/features-four-tablet.png"
                    >
                    <img class="features__card-image"
                         src="src/img/features-four.png"
                         alt="features"
                    >
                </picture>
                <div class="features__card-bottom">
                    <h3 class="features__card-title">
                        More Than 1 Million Partners
                    </h3>
                    <p class="features__card-description">
                        Connecting over one million partners for real estate
                    </p>
                </div>
            </article>
        </div>
    </div>
</section>


