<footer class="explore">
    <div class="footer-top"><a href="/"><img src="src/img/logo-footer.svg" alt="">Mai <span>Home</span></a>
        <p class="p p-explore">Explore our extensive listings of properties, ranging from cozy apartments to
            luxurious estates,
            meticulously
            curated to cater to diverse tastes and lifestyles. </p>

        <div class="socials">
            <a href="#"> <img src="src/img/instagram.svg" alt="instagram" width="40px" height="40px"></a>
            <a href="#"> <img src="src/img/facebook.svg" alt="facebook" width="40px" height="40px"></a>
            <a href="#"> <img src="src/img/twitter.svg" alt="twitter" width="40px" height="40px"></a>
        </div>
    </div>

    <nav class="footer-nav">
        <h3>Navigation</h3>
        <ul>
            <li><a href="#">Overview</a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Unit</a></li>
            <li><a href="#">Payment</a></li>
        </ul>
    </nav>

    <div class="address">
        <h3>Address</h3>
        <address>
            <p>6391 Elgin St. Celina, Delaware 10299</p>
            <p>3891 Ranchview Dr. Richardson, California 62639</p>
        </address>
    </div>

    <div class="f-contact">
        <h3>Contact</h3>
        <p class="p-contact">
            <a href="mailto:UrbanNest@gmail.com">UrbanNest@gmail.com</a>
        </p>
        <p class="contacts">
            <a href="tel:+13075550133">(307) 555-0133</a>
        </p>
    </div>


    <div class="footer-bottom">
        <p>Copyright MaiHome.2024 </p>

        <nav>
            <a href="#">Privacy Policy</a>

            <a href="#">Terms Of Use</a>
        </nav>

    </div>
</footer>