<footer class="footer">
    <div class="footer__wrapper container">
        <div class="footer__row">
            <a class="footer__logo" href="/">
                <img class="footer__logo-image" src="src/img/logo-footer.svg" alt="">
                Mai <span class="footer__logo-text">Home
                </span>
            </a>
            <p class="footer__description">Explore our extensive listings of properties, ranging from cozy apartments to
                luxurious estates,
                meticulously
                curated to cater to diverse tastes and lifestyles.
            </p>

            <div class="footer__socials">
                <a href="#" class="footer__socials-link">
                    <img src="src/img/instagram.svg" alt="Instagram">
                </a>
                <a href="#" class="footer__socials-link">
                    <img src="src/img/facebook.svg" alt="Facebook">
                </a>
                <a href="#" class="footer__socials-link">
                    <img src="src/img/twitter.svg" alt="Twitter">
                </a>
            </div>
        </div>

        <div class="footer__content">
            <div class="footer__navigation">
                <nav class="footer__navigation-list">
                    <h3 class="footer__navigation-list-title">
                        Navigation
                    </h3>
                    <ul class="footer__navigation-list-items">
                        <li class="footer__navigation-list-item">
                            <a class="footer__navigation-list-link"
                               href="#">
                                Overview
                            </a>
                        </li>
                        <li class="footer__navigation-list-item">
                            <a class="footer__navigation-list-link"
                               href="#">
                                Explore
                            </a>
                        </li>
                        <li class="footer__navigation-list-item">
                            <a class="footer__navigation-list-link"
                               href="#">
                                Analytics
                            </a>
                        </li>
                        <li class="footer__navigation-list-item">
                            <a class="footer__navigation-list-link"
                               href="#">
                                Unit
                            </a>
                        </li>
                        <li class="footer__navigation-list-item">
                            <a class="footer__navigation-list-link"
                               href="#">
                                Payment
                            </a>
                        </li>
                    </ul>
                </nav>

                <div class="footer__address">
                    <h3 class="footer__address-title">
                        Address
                    </h3>
                    <address class="footer__address-list">
                        <p class="footer__address-item">
                            6391 Elgin St. Celina, Delaware 10299
                        </p>
                        <p class="footer__address-item">
                            3891 Ranchview Dr. Richardson, California 62639
                        </p>
                    </address>
                </div>

                <div class="footer__contact">
                    <h3 class="footer__contact-title">
                        Contact
                    </h3>
                    <a class="footer__contact-email"
                       href="mailto:UrbanNest@gmail.com">
                        UrbanNest@gmail.com
                    </a>
                    <a class="footer__contact-phone"
                       href="tel:+13075550133">
                        (307) 555-0133
                    </a>
                </div>
            </div>

            <div class="footer__bottom">
                <p class="footer__bottom-copyright">
                    Copyright MaiHome.2024
                </p>
                <span class="footer__bottom-legal">
                    <a class="footer__bottom-link"
                       href="#">
                        Privacy Policy
                    </a>
                    <a class="footer__bottom-link"
                       href="#">
                        Terms Of Use
                    </a>
                </span>
            </div>
        </div>
    </div>
</footer>