<header class="header">
    <a class="header__logo" href="/">
        <img class="header__logo-image"
             src="src/img/logo-hero.svg"
             alt="logo maihome">
        Mai
        <span class="header__logo-text">
            Home
        </span>
    </a>
    <button class="header__menu-open is-open">
        <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17 13H1M17 7H1M17 1H1" stroke="white" stroke-width="2" stroke-linecap="round"/>
        </svg>
    </button>
    <button class="header__menu-close is-open">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13 1L1 13M13 13L1 1" stroke="white" stroke-width="2" stroke-linecap="round"/>
        </svg>
    </button>
    <nav class="header__navigation is-open">
        <ul class="header__navigation-list">
            <li class="header__navigation-list-item">
                <a class="header__navigation-list-text"
                   href="#">
                    About Us
                </a>
            </li>
            <li class="header__navigation-list-item">
                <a class="header__navigation-list-text"
                   href="#">
                    Solutions
                </a>
            </li>
            <li class="header__navigation-list-item">
                <a class="header__navigation-list-text"
                   href="#">
                    Features
                </a>
            </li>
            <li class="header__navigation-list-item">
                <a class="header__navigation-list-text"
                   href="#">
                    FAQ
                </a>
            </li>
            <li class="header__navigation-list-item">
                <a class="header__navigation-list-text"
                   href="#">
                    Contact Us
                </a>
            </li>
        </ul>
    </nav>
    <div class="header__action-btns">
        <button class="header__action-btns btn btn-secondary btn--small">Register</button>
        <button class="header__action-btns btn btn-primary btn--small">Login</button>
    </div>
</header>