<header class="header">
    <div class="header__container">
        <button class="header__burger-menu js-button btn">
            <span class="header__burger-line"></span>
            <span class="header__burger-line"></span>
            <span class="header__burger-line"></span>
        </button>
        <a class="header__logo" href="/">
            <img class="header__logo-image"
                 src="src/img/logo-hero.svg"
                 alt="logo maihome">
            <span class="header__logo-top">
            Mai
        <b class="header__logo-text">
            Home
        </b>
        </span>
        </a>
    </div>
    <nav class="header__navigation js-nav">
        <ul class="header__navigation-list">
            <li class="header__navigation-list-item">
                <a class="header__navigation-list-text"
                   href="#about">
                    About Us
                </a>
            </li>
            <li class="header__navigation-list-item">
                <a class="header__navigation-list-text"
                   href="#solutions">
                    Solutions
                </a>
            </li>
            <li class="header__navigation-list-item">
                <a class="header__navigation-list-text"
                   href="#features">
                    Features
                </a>
            </li>
            <li class="header__navigation-list-item">
                <a class="header__navigation-list-text"
                   href="#faq">
                    FAQ
                </a>
            </li>
            <li class="header__navigation-list-item">
                <a class="header__navigation-list-text"
                   href="#contact">
                    Contact Us
                </a>
            </li>
        </ul>
    </nav>
    <div class="header__action-btns">
        <button class="header__action-btns btn btn-secondary btn--small">Register</button>
        <button class="header__action-btns btn btn-primary btn--small">Login</button>
    </div>
</header>