<header class="header">
    <a class="header__logo" href="/">
        <img class="header__logo-image"
             src="src/img/logo-hero.svg"
             alt="logo maihome">
        Mai
        <span class="header__logo-text">
            Home
        </span>
    </a>
    <nav class="header__navigation">
        <ul class="header__navigation-list">
            <li class="header__navigation-list-item">
                <a class="header__navigation-list-text"
                   href="#">
                    About Us
                </a>
            </li>
            <li class="header__navigation-list-item">
                <a class="header__navigation-list-text"
                   href="#">
                    Solutions
                </a>
            </li>
            <li class="header__navigation-list-item">
                <a class="header__navigation-list-text"
                   href="#">
                    Features
                </a>
            </li>
            <li class="header__navigation-list-item">
                <a class="header__navigation-list-text"
                   href="#">
                    FAQ
                </a>
            </li>
            <li class="header__navigation-list-item">
                <a class="header__navigation-list-text"
                   href="#">
                    Contact Us
                </a>
            </li>
        </ul>
    </nav>
    <div class="header__action-btns">
        <button class="header__action-btns btn btn-secondary btn--small">Register</button>
        <button class="header__action-btns btn btn-primary btn--small">Login</button>
    </div>
</header>