<div class="container-hero">
    <div class="hero-img">
        <include src="src/templates/header.html"></include>

        <section class="homepage">
            <h1>Dream Home Discovery: Browse Premier Listings Today!</h1>
            <p class="p">Embark on a journey to discover your dream home by exploring our premier listings available for
                browsing
                today.
            </p>
            <button class="btn btn-arrow-down"><img src="src/img/scrolldown.svg"></button>

            <ul>
                <li><span class="number">432</span><span class="text">Partners</span></li>
                <li><span class="number">12,6K</span><span class="text">Properties</span></li>
                <li><span class="number">80K</span><span class="text">Customers</span></li>
            </ul>
        </section>
    </div>
</div>