<div class="container-recommend">
    <section class="recommend">
        <header class="recommend-header">
            <h2 class="recommend-h">Real Estate Recommendation Of The Day</h2>
            <p class="p recommend-p">Introducing our daily feature: 'Real Estate Recommendation of the Day.' Explore
                carefully curated
                listings to find your perfect property match and make informed decisions effortlessly</p>
        </header>

        <ul class="category">
            <li>
                <button class="btn btn-primary">All (40+)</button>
            </li>
            <li>
                <button class="btn btn-category">Home (6)</button>
            </li>
            <li>
                <button class="btn btn-category">Apartment (14)</button>
            </li>
            <li>
                <button class="btn btn-category">Guesthouse (8)</button>
            </li>
            <li>
                <button class="btn btn-category">Hotel (12)</button>
            </li>
        </ul>

        <div class="cards">

            <article class="recommend-card">
                <a href="#" class="card-link">
                    <div class="card-image">
                        <img src="src/img/room-one.webp" alt="DreamlandEstates" width="440px" height="206px">
                    <button class="btn btn-arrow"><img src="src/img/icon-arrow.svg" alt="arrow" width="13.5px"
                                                       height="13.5px"></button>
                    </div>
                    <h3>Dreamland Estates</h3>
                    <p>(-41%) $611,520</p>
                </a>
                <span><img src="src/img/location-pin.svg" alt="location pin" width="10" height="13px">St. Utica, Pennsylvania
                    57867</span>
                <div class="card__stars">
                    <img src="src/img/stars.svg" alt="RatingStars"> <p>4,8/5</p>
                </div>
            </article>


            <article class="recommend-card">
                <a href="#" class="card-link">
                    <div class="card-image">
                        <img src="src/img/room-two.webp" alt="VisionaryVistasRealty" width="440px" height="206px">
                    <button class="btn btn-arrow"><img src="src/img/icon-arrow.svg" alt="arrow" width="13.5px"
                                                       height="13.5px"></button>
                    </div>
                    <h3>Visionary Vistas Realty</h3>
                    <p>(-41%) $611,520</p>
                </a>
                <p><img src="src/img/location-pin.svg" alt="location pin" width="10" height="13px">St. Utica, Pennsylvania
                    57867</p>
                <div class="card__stars">
                    <img src="src/img/stars.svg" alt="RatingStars"> <p>4,8/5</p>
                </div>
            </article>


            <article class="recommend-card">
                <a href="#" class="card-link">
                    <div class="card-image">
                        <img src="src/img/room-three.webp" alt="TranquilHavenHomes" width="440px" height="206px">
                    <button class="btn btn-arrow"><img src="src/img/icon-arrow.svg" alt="arrow" width="13.5px"
                                                       height="13.5px"></button>
                    </div>
                    <h3>Tranquil Haven Homes</h3>
                    <p>(-41%) $611,520</p>
                </a>
                <p><img src="src/img/location-pin.svg" alt="location pin" width="10" height="13px">St. Utica, Pennsylvania
                    57867</p>
                <div class="card__stars">
                    <img src="src/img/stars.svg" alt="RatingStars"> <p>4,8/5</p>
                </div>
            </article>


            <article class="recommend-card">
                <a href="#" class="card-link">
                    <div class="card-image">
                        <img src="src/img/room-four.webp" alt="MeadowBrookEstates" width="440px" height="206px">
                    <button class="btn btn-arrow"><img src="src/img/icon-arrow.svg" alt="arrow" width="13.5px"
                                                       height="13.5px"></button>
                    </div>
                    <h3>Meadow Brook Estates</h3>
                    <p>(-41%) $611,520</p>
                </a>
                <p><img src="src/img/location-pin.svg" alt="location pin" width="10" height="13px">St. Utica, Pennsylvania
                    57867</p>
                <div class="card__stars">
                    <img src="src/img/stars.svg" alt="RatingStars"> <p>4,8/5</p>
                </div>
            </article>


            <article class="recommend-card">
                <a href="#" class="card-link">
                    <div class="card-image">
                        <img src="src/img/room-five.webp" alt="AspenRidgeEstates" width="440px" height="206px">
                    <button class="btn btn-arrow"><img src="src/img/icon-arrow.svg" alt="arrow" width="13.5px"
                                                       height="13.5px"></button>
                    </div>
                    <h3>Aspen Ridge Estates</h3>
                    <p>(-41%) $611,520</p>
                </a>
                <p><img src="src/img/location-pin.svg" alt="location pin" width="10" height="13px">St. Utica, Pennsylvania
                    57867</p>
                <div class="card__stars">
                    <img src="src/img/stars.svg" alt="RatingStars"> <p>4,8/5</p>
                </div>
            </article>


            <article class="recommend-card">
                <a href="#" class="card-link">
                    <div class="card-image">
                        <img src="src/img/room-six.webp" alt="HarmonyHillsRealty" width="440px" height="206px">
                    <button class="btn btn-arrow"><img src="src/img/icon-arrow.svg" alt="arrow" width="13.5px"
                                                       height="13.5px"></button>
                    </div>
                    <h3>Harmony Hills Realty</h3>
                    <p class="p">(-41%) $611,520</p>
                </a>
                <p><img src="src/img/location-pin.svg" alt="location pin" width="10" height="13px">St. Utica, Pennsylvania
                    57867</p>
                <div class="card__stars">
                    <img src="src/img/stars.svg" alt="RatingStars"> <p>4,8/5</p>
                </div>
            </article>
        </div>
        <div class="btn">
            <button class="btn btn-more">Learn More <img src="src/img/iron-black.svg" alt="iron" width="13.5px"
                                                         height="13.5px"></button>

        </div>

    </section>
</div>