    <section class="service__wrapper container">
        <div class="service__top">
            <h2 class="service__header">Tailored Real Estate Solutions for You</h2>
            <p class=" service__description">Unlock the perfect property. Discover tailored real estate solutions designed to meet
                your needs with
                precision and expertise.
            </p>
        </div>

        <div class="service__cards">
            <div class="service__card-icon">
                <img class="service__card-image"
                     src="src/img/chat.svg"
                     alt="Type-Search">

                <h3 class="service__cards-title">
                    Property Search and Listing
                </h3>
                <p class="service__cards-description">
                    Discover available properties, uncover your ideal living space, start exploring
                    now.
                </p>
            </div>
            <div class="service__card-icon">
                <img  class="service__card-image"
                      src="src/img/stat.svg"
                      alt="Type-analyze">
                <h3 class="service__cards-title">
                    Property Valuation
                </h3>
                <p class="service__cards-description">

                    Thorough property assessment, accurate valuations, crucial for informed real estate
                    decisions.
                </p>
            </div>
            <div class="service__card-icon-card">
                <img class="service__card-image"
                     src="src/img/home.svg"
                     alt="Type-home">
                <h3 class="service__cards-title">
                    Property Management
                </h3>
                <p class="service__cards-description">
                    Professional property oversight, maximizing profitability, and preserving asset
                    value seamlessly.
                </p>
            </div>
        </div>
    </section>
