<section class="submit">
    <div class="submit__wrapper container">
        <header class="submit__header">
            <h2 class="submit__title">Start Your Real Estate Journey Here</h2>
            <p class="submit__description">Embark on your real estate journey today. Explore our listings and find the
                perfect
                property to call
                home.</p>
        </header>
        <div class="submit__images-container">
            <img src="src/img/man-smile.webp"
                 alt="smile man">
            <img src="src/img/man-back-grey.svg"
                 alt="background">
            <img src="src/img/man-back-white.png"
                 alt="background">
        </div>
    </div>
</section>