.about {
    background-color: var(--text-neutral-color);
    padding-top: var(--spacing-80);
    padding-bottom: var(--spacing-48);
    margin: 0;
}

.about__wrapper {
    display: flex;
    gap: 20px;
}

.about__heading {
    font-weight: var(--font-weight-medium);
    color: var(--text-primary-color);
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);

    min-width: 214px;
    margin: 0;
}

.about__content {
    color: var(--text-tertiary-color);
    font-weight: var(--font-weight-regular);
}

.about__description {
    font-size: var(--font-size-h3);
    margin: 0;
    padding-bottom: var(--spacing-20);
}

.about__list {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-body);
    margin: 0;
    padding-bottom: var(--spacing-48);
}

.about__list-item {
    margin-left: 52px;
}

.about__review {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.about__review-image {
    width: calc( 50% - 10px );
    border-radius: var(--radius-xl);
    object-fit: cover;
}

.about__review-card {
    background: var(--backgroung-main-color);
    text-align: center;
    padding: var(--spacing-32) var(--spacing-24);
    border-radius: var(--radius-xl);
    margin: 0;
}

.about__review-description {
    color: var(--text-primary-color);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-p);
    line-height: var(--line-height-body);
    margin: 0;
}

.about__review-name {
    font-size: var(--font-size-p);
    text-align: center;
    font-weight: var(--font-weight-medium);
    color: var(--text-primary-color);
    margin: 0;
}

.about__review-position {
    color: var(--text-secondary-color);
    text-align: center;
    font-size: var(--font-size-small);
    line-height: 18px;
    margin: 0;
}



