.about-us {
    background-color: var(--text-neutral-color);
    padding-top: var(--pt-80);
    padding-bottom: var(--pb-40);
    width: 100%;
    margin: 0 auto;
}

.container-about {
    padding: 0 40px;
    /*max-width: 1360px;*/
}

.about-h {
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-body);
    min-width: var(--width-xs);
    margin: 0;
}

.about-top {
    display: flex;
    flex-direction: column;
    color: var(--text-tertiary-color);
    font-weight: var(--font-weight-regular);
}

.about-p {
    max-width: var(--width-xl);
    font-size: var(--font-size-h3);
    color: var(--text-tertiary-color);
    margin: 0;
    margin-bottom: var(--mb-20);

}

.about-us ul {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-body);
    margin: 0;
    margin-bottom: var(--mb-48);
}

.about-us span {
    font-weight: var(--font-weight-medium);
    color: var(--text-primary-color);
}

figure {
    margin: 0;
}

.about-bottom {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 0;
}

.about-bottom img {
    border-radius: var(--radius-xl);
    background-repeat: no-repeat;
    object-fit: cover;
    margin-right: var(--mr-20);
}

.review-card {
    background: var(--backgroung-main-color);
    padding: 30px;
    border-radius: 40px;
    max-width: 500px;
    text-align: center;
}

.review-card blockquote {
    margin: 0;
}

.review-card p {
    font-weight: 400;
    font-size: 20px;
    color: var(--text-primary-color);
    text-align: center;
    line-height: 1.6;
    margin: 0;
}

/*   */

.about__img {
    margin-top: 24px;
}

.review-card figcaption p {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    color: var(--text-primary-color);
}

.review-card span {
    color: var(--text-secondary-color);
    text-align: center;
    font-size: 16px;
    line-height: 18px;
}



