.faq {
    background-color: var(--backgroung-secondary-color);
    margin-top: 0;
    padding-bottom: 100px;
}

.faq__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 200px;
    margin-right: 200px;
}

.faq__title {
    margin: 0;
    text-align: center;
}

.faq__description {
    white-space: normal;
    margin-bottom: var(--spacing-56);
    color: var(--text-secondary-color);
    text-align: center;
}

.faq__items {
    background-color: var(--backgroung-main-color);
    border-radius: var(--radius-xl);

    margin-bottom: var(--spacing-20);
}

.faq__items-summary {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-h3);
    line-height: var(--line-height-body);
    list-style: none;
    padding: 28px;
}


.faq__items-answer {
    text-align: left;
    padding: 0 500px 24px 24px;
    margin: 0;
    min-width: 776px;
}
