.faq {
    background-color: var(--backgroung-secondary-color);
    padding-bottom: var(--pb-100);
}

.container-faq {
    padding: 0 var(--p-40);

}
.faq header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-h {
    margin: 0 var(--margin-auto);
    margin-bottom: var(--mb-20);
}

.faq-p {
    white-space: normal;
    margin: var(--spacing-xs);
    margin-bottom: var(--mb-56);
    color: var(--text-secondary-color);
    width: var(--width-ml);
    text-align: center;
}

/* details {
    background-color: var(--backgroung-main-color);
} */

details {
    background-color: var(--backgroung-main-color);
    border-radius: var(--radius-xl);
    padding: var(--spacing-s) var(--spacing-m);

}

details summary {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-h3);
    line-height: var(--line-height-body);
    list-style: none;
    /*padding: var(--spacing-s);*/
    /*padding-left: var(--spacing-l);*/
    /*padding-right: var(--spacing-l);*/
}

.p-details {
    columns: var(--text-tertiary-color);
    width: var(--width-l);
}

.faq-bottom {

}