.features {
    background-color: var(--backgroung-secondary-color);
    padding: 0;
    margin: 0;
}

.features__title {
    margin: 0;
    padding-top: var(--spacing-7xl);
    padding-bottom: var(--spacing-sm);

    @media (max-width: 768px) {
        padding-top: var(--spacing-2xl);
    }
}

.features__description {
    margin: 0 180px 64px;

    @media (max-width: 1024px) {
        margin: 0 0 64px 0;
    }
}

.features__header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.features__cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding-bottom: var(--spacing-6xl);

    @media (max-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

.features__card {
    border: 1px solid var(--border-color-input);
    border-radius: var(--radius-xl);
}

.features__card-short-one {
    grid-column: 1/3;
    grid-row: 1/2;

    @media (max-width: 1024px) {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    @media (max-width: 768px) {
        grid-column: 1/2;
        grid-row: 1/2;
    }
}

.features__card-long-one {
    grid-column: 3/6;
    grid-row: 1/2;

    @media (max-width: 1024px) {
        grid-column: 2/4;
        grid-row: 1/2;
    }

    @media (max-width: 768px) {
        grid-column: 1/2;
        grid-row: 2/3;
    }
}

.features__card-long-two {
    grid-column: 1/4;
    grid-row: 2/3;

    @media (max-width: 1024px) {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    @media (max-width: 768px) {
        grid-column: 1/2;
        grid-row: 3/4;
    }
}

.features__card-short-two {
    grid-column: 4/6;
    grid-row: 2/3;

    @media (max-width: 1024px) {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    @media (max-width: 768px) {
        grid-column: 1/2;
        grid-row: 4/5;
    }
}

.features__card-bottom {
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    padding-inline: 12px;
    padding-top: 28px;
}

.features__card-title {
    margin: 0;
}

.features__card-description {
    padding-top: var(--spacing-s);
    padding-bottom: 30px;
    padding-inline: var(--spacing-xs);
    margin: 0;
}

.features__card-image {
    display: block;
    object-fit: contain;
    border-bottom: 1px solid var(--border-color-input);
    width: 100%;
    height: 302px;
}

