.footer {
    margin-top: var(--spacing-6xl);
    margin-bottom: var(--spacing-xl);
}

.footer__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__content {
    max-width: 520px;

    @media (max-width: 1024px) {
        max-width: 472px;
    }
}

.footer__logo {
    color: var(--text-primary-color);
}

.footer__logo-text {
    font-weight: var(--font-weight-xl);
}

.footer__description {
    color: var(--text-tertiary-color);
    max-width: 532px;
    margin: 0;
    padding-bottom: 54px;
    padding-top: var(--spacing-m);
}

.footer__socials {
    display: flex;
    margin-bottom: var(--spacing-6xl);
}

.footer__socials-link {
    padding-right: 12px;
}

.footer__navigation {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 680px;
    font-size: var(--font-size-small);

    @media (max-width: 1024px) {
        max-width: 472px;
    }
}

.footer__navigation-list {
    display: flex;
    flex-direction: column;
    max-width: 226px;
    margin-right: 100px;

    @media (max-width: 1024px) {
        max-width: 158px;
        margin-right: 50px;
    }
}

.footer__navigation-list-title {
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-regular);
    padding-bottom: var(--spacing-m);
    margin: 0;
}

.footer__navigation-list-items {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__navigation-list-link {
    color: var(--text-tertiary-color);
}

.footer__address {
    display: flex;
    flex-direction: column;
    max-width: 226px;

    @media (max-width: 1024px) {
        min-width: 158px;
        min-height: 178px;
    }
}

.footer__address-title {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-p);
    color: var(--text-primary-color);
    padding-bottom: var(--spacing-m);
    margin: 0;
}

.footer__address-item {
    font-style: normal;
    font-size: var(--font-size-small);
    color: var(--text-tertiary-color);
    margin: 0;
    padding-bottom: var(--spacing-s);
}

.footer__address-list {
    margin-right: 20px;
}
.footer__contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    min-width: 226px;

    @media (max-width: 1024px) {
        min-width: 158px;
        min-height: 124px;
    }
}

.footer__contact-title {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-p);
    color: var(--text-primary-color);
    padding-bottom: var(--spacing-m);
    margin: 0;
}

.footer__contact-email {
    font-size: var(--font-size-small);
    color: var(--text-tertiary-color);
    padding-bottom: var(--spacing-s);
}

.footer__contact-phone {
    font-size: var(--font-size-small);
    color: var(--text-tertiary-color);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

.footer__bottom-copyright {
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-regular);
    color: var(--text-tertiary-color);
    margin: 0;
}

.footer__bottom-legal {
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-regular);
    color: var(--text-tertiary-color);
    margin: 0;
}

.footer__bottom-link {
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-regular);
    color: var(--text-tertiary-color);
    margin: 0;
    padding-right: var(--spacing-2xs);
}

