.footer {
    margin-top: var(--spacing-48);
    margin-bottom: var(--spacing-40);
}

.footer__wrapper {
    display: flex;
    gap: 150px;
}

.footer__logo {
    color: var(--text-primary-color);
}

.footer__logo-text {
    font-weight: var(--font-weight-xl);
}

.footer__description {
    color: var(--text-tertiary-color);
    margin: 0;
    padding-bottom: 54px;
}

.footer__socials {
    display: flex;
}

.footer__socials-link {
    padding-right: 12px;
}

.footer__content {
    display: flex;
}

.footer__navigation {
    font-size: var(--font-size-small);
}

.footer__navigation-list {
    display: flex;
    flex-direction: column;
}

.footer__navigation-list-title {
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-regular);
    line-height: 15px;
    padding-bottom: var(--spacing-24);
    margin: 0;
}

.footer__navigation-list-items {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__navigation-list-item {
    padding-bottom: var(--spacing-16);
    margin: 0;
}

.footer__navigation-list-link {
    color: var(--text-tertiary-color);
}

.footer__address {
    display: flex;
    flex-direction: column;
}

.footer__address-title {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-p);
    color: var(--text-primary-color);
    padding-bottom: var(--spacing-24);
    margin: 0;
}

.footer__address-item {
    font-style: normal;
    font-size: var(--font-size-small);
    color: var(--text-tertiary-color);
    margin: 0;
    padding-bottom: var(--spacing-16);
}

.footer__contact {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer__contact-title{
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-p);
    color: var(--text-primary-color);
    padding-bottom: var(--spacing-24);
    margin: 0;
}

.footer__contact-email {
    font-size: var(--font-size-small);
    color: var(--text-tertiary-color);
    padding-bottom: var(--spacing-16);
}

.footer__contact-phone {
    font-size: var(--font-size-small);
    color: var(--text-tertiary-color);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

.footer__bottom-copyright{
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-regular);
    color: var(--text-tertiary-color);
}
.footer__bottom-legal {
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-regular);
    color: var(--text-tertiary-color);
}

.footer__bottom-link{
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-regular);
    color: var(--text-tertiary-color);
}

