.footer {
    margin-top: var(--spacing-6xl);
    margin-bottom: var(--spacing-xl);
}

.footer__top {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 768px) {
        display: flex;
    }
}

.footer__content {
    grid-column: 1/2;
}

.footer__logo {
    color: var(--text-primary-color);
}

.footer__logo-text {
    font-weight: var(--font-weight-xl);
}

.footer__description {
    color: var(--text-tertiary-color);
    /*max-width: 532px;*/
    margin: 0;
    padding-bottom: 54px;
    padding-top: var(--spacing-m);
}

.footer__socials {
    display: flex;
    margin-bottom: var(--spacing-6xl);

    @media (max-width: 768px) {
        margin-bottom: var(--spacing-xl);
    }
}

.footer__socials-link {
    padding-right: 12px;
}

.footer__navigation {
    grid-column: 2/3;

    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-small);
    gap: var(--spacing-m);

    @media (max-width: 768px) {
    display: none;
    }
}

.footer__navigation-list {
    display: flex;
    flex-direction: column;
}


.footer__navigation-list-title {
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-regular);
    padding-bottom: var(--spacing-m);
    margin: 0;
}

.footer__navigation-list-items {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__navigation-list-link {
    color: var(--text-tertiary-color);
}

.footer__address {
    display: flex;
    flex-direction: column;
}

.footer__address-title {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-p);
    color: var(--text-primary-color);
    padding-bottom: var(--spacing-m);
    margin: 0;
}

.footer__address-item {
    font-style: normal;
    font-size: var(--font-size-small);
    color: var(--text-tertiary-color);
    margin: 0;
    padding-bottom: var(--spacing-s);
}

.footer__address-list {
    margin-right: 20px;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    text-align: left;

    @media (max-width: 1024px) {

    }
}

.footer__contact-title {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-p);
    color: var(--text-primary-color);
    padding-bottom: var(--spacing-m);
    margin: 0;
}

.footer__contact-email {
    font-size: var(--font-size-small);
    color: var(--text-tertiary-color);
    padding-bottom: var(--spacing-s);
}

.footer__contact-phone {
    font-size: var(--font-size-small);
    color: var(--text-tertiary-color);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.footer__bottom-copyright {
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-regular);
    color: var(--text-tertiary-color);
    margin: 0;
}

.footer__bottom-legal {
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-regular);
    color: var(--text-tertiary-color);
    margin: 0;
}

.footer__bottom-link {
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-regular);
    color: var(--text-tertiary-color);
    margin: 0;
    padding-right: var(--spacing-2xs);
}

