.header-hero {
    display: flex;
    justify-content: center;
    padding: var(--spacing-xs) var(--spacing-l);
    color: var(--text-hero-color);

    background: var(--background-header-color);
    /*padding-top: 24px;*/
    /*padding-left: 184px;*/
    /*padding-right: 184px;*/
    border-radius: var(--radius-xl);
    width: 1072px;
    height: 59px;
    /*margin: auto;*/

    margin: 24px 184px 107px 184px;

}

.maihome span {
    font-weight: var(--font-weight-xl);
    font-size: var(--font-size-body);

}

.header-logo {
    display: flex;
    align-items: center;
}

.maihome img {
    padding-right: 12px;
}
.maihome {
    display: flex;
    align-items: center;
    gap: var(--spacing-xxl);
    padding-top: var(--spacing-l);
    color: var(--text-hero-color);
}

.maihome nav {
    display: flex;
    align-items: center;
    /*gap: var(--spacing-xxl);*/

}

.maihome nav ul {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-small);
    list-style: none;
    display: flex;
    /* gap: var(--spacing-xl); */
    align-items: center;
    /* margin: 1px; */
    /* padding: 1px; */
    color: var(--text-hero-color);
}

.maihome a {
    white-space: nowrap;
}





