.homepage {
    margin: 0;
    max-width: 100%;
    background-image: linear-gradient(#00000080),
    url("/src/img/herobackground.webp"),
    linear-gradient(var(--background-primary-default-color));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 24px;
    padding-bottom: 48px;
}

.homepage__content {
    text-align: center;
    /* padding: var(--spacing-xl); */
    /*width: var(--width-xl);*/
    /*margin: 0 var(--margin-auto);*/
}

.homepage__heading {
    text-align: center;
    margin-bottom: var(--spacing-m);
    color: var(--text-hero-color);
}

.homepage__description {
    display: flex;
    margin-bottom: var(--spacing-xl);
    color: var(--text-hero-color);
    /*max-width: var(--width-l);*/
}

.homepage__stats {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.homepage__stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
    padding-right: 70px;
    padding-left: 70px;
    color: var(--text-hero-color);
}

.homepage__stats-number {
    font-size: 56px;
    font-weight: 400;
    line-height: 1.2;
}

.homepage__stats-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}