.homepage {
    background-image: linear-gradient(#00000080),
    url(/src/img/herobackground.webp),
    linear-gradient(var(--background-primary-default-color));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--text-hero-color);
    max-width: 100%;

    margin: 0;
    padding-top: var(--spacing-m);
    padding-bottom: var(--spacing-2xl);
}

.homepage__content {
    text-align: center;
}

.homepage__heading {
    padding-top: 100px;
    line-height: 1.4;
    margin: 0;

    @media (max-width: 768px) {
        font-size: var(--font-size-h2);
    }

    @media (max-width: 453px) {
        font-size: var(--font-size-h3);
        font-weight: var(--font-weight-regular);
    }

}

.homepage__description {
    margin-bottom: 60px;
    margin-top: 20px;
    color: var(--text-hero-color);

    @media (max-width: 768px) {
        margin-bottom: var(--spacing-7xl);
    }
}

.homepage__list {
    display: flex;
    justify-content: space-between;
    margin: 0 160px 0;
    list-style: none;
    padding: 0;

    @media (max-width: 1024px) {
        margin: 0 auto;
    }
}

.homepage__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.homepage__list-number {
    font-size: 56px;
    font-weight: var(--font-weight-regular);
    line-height: 1.2;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
        font-size: var(--font-size-h3);
    }
}

.homepage__list-text {
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-body);

    @media (max-width: 768px) {
        font-size: var(--font-size-super-small);
    }
}
