.homepage {
    background-image: linear-gradient(#00000080),
    url(/src/img/herobackground.webp),
    linear-gradient(var(--background-primary-default-color));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--text-hero-color);
    max-width: 100%;

    margin: 0;
    padding-top: var(--spacing-24);
    padding-bottom: var(--spacing-48);
}

.homepage__content {
    text-align: center;
}

.homepage__description {
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: var(--spacing-184);
    color: var(--text-hero-color);
}

.homepage__list {
    display: flex;
    justify-content: space-between;
    max-width: 590px;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

.homepage__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.homepage__list-number {
    font-size: 56px;
    font-weight: var(--font-weight-regular);
    line-height: 1.2;
    display: flex;
    flex-direction: column;
}

.homepage__list-text {
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-body);
}
