.recommend__wrapper {
    justify-content: center;
    align-items: center;

    position: relative;
}

.recommend__header {
    display: flex;
    justify-content: space-between;
    margin-top: var(--spacing-m);
    margin-bottom: var(--spacing-5xl);
    gap: 100px;

    @media (max-width: 768px) {
        display: block;
        text-align: center;
    }
}

.recommend__header-title {
    margin: 0;
    width: 678px;
    text-align: center;

    @media (max-width: 1024px) {
        width: 422px;
    }

    @media (max-width: 768px) {
        padding-bottom: 20px;
    }

    @media (max-width: 420px) {
        width: 344px;
    }
}

.recommend__header-description {
    margin: 0;
}

.recommend__category {
    justify-content: center;
    display: flex;
    /*flex-wrap: wrap;*/
    margin-bottom: var(--spacing-2xl);
    gap: var(--spacing-xs);

    @media (max-width: 1024px) {
        margin-bottom: 0;
        flex-direction: column;
        align-items: center;
    }
}


.recommend__category-navigation {

    @media (max-width: 1024px) {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s;

        text-align: center;
        position: absolute;
        left: 0;
        top: 24%;
        width: 100%;
        background-color: var(--backgroung-secondary-color);
        color: var(--text-navigation-open);
        border-radius: var(--radius-l);
        padding: 16px;
    }

    @media (max-width: 768px) {
        top: 17%;
    }

    @media (max-width: 420px) {
        top: 36%;
    }
}

.recommend__category-navigation.is-open {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

.recommend__filter-line:first-child {
    display: none;

    @media (max-width: 1024px) {
        width: 20px;
        height: 2px;
        background-color: var(--text-primary-color);
        border-radius: 9px;
        display: block;
        margin: 4px auto;
        padding: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
}

.recommend__filter-line {
    display: none;

    @media (max-width: 1024px) {
        color: black;
        width: 14px;
        height: 2px;
        background-color: var(--text-primary-color);
        border-radius: 9px;
        display: block;
        margin: 4px auto;
        padding: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
}

.recommend__filter-line:last-child {
    display: none;

    @media (max-width: 1024px) {
        color: black;
        width: 6px;
        height: 2px;
        background-color: var(--text-primary-color);
        border-radius: 9px;
        display: block;
        margin: 4px auto;
        padding: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
}

.recommend__card-filter-item.is-open .recommend__filter-line:nth-child(1) {
    width: 20px;
    -webkit-transform: translateY(6px) rotate(45deg);
    -ms-transform: translateY(6px) rotate(45deg);
    -o-transform: translateY(6px) rotate(45deg);
    transform: translateY(6px) rotate(45deg);
}

.recommend__card-filter-item.is-open .recommend__filter-line:nth-child(2) {
    opacity: 0;
}

.recommend__card-filter-item.is-open .recommend__filter-line:nth-child(3) {
    width: 20px;
    -webkit-transform: translateY(-6px) rotate(-45deg);
    -ms-transform: translateY(-6px) rotate(-45deg);
    -o-transform: translateY(-6px) rotate(-45deg);
    transform: translateY(-6px) rotate(-45deg);
}

.recommend__category-list {
    display: inline-block;
}

.recommend__cards {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;

    margin-bottom: var(--spacing-5xl);

    @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
        width: 344px;
        grid-template-columns: 1fr;
        margin-bottom: 0;
    }
}

.recommend__card-item-link {
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
    text-decoration: none;
}

.recommend__card-item-wrapper {
    position: relative;
    display: flex;
}

.recommend__card-image {
    width: 440px;
    height: 206px;
    display: flex;
    border-radius: 22px;
    object-fit: cover;

    @media (max-width: 420px) {
        width: 344px;
        height: 206px;
    }
}

.recommend__card-name {
    display: flex;
    justify-content: space-between;
    margin-top: var(--spacing-s);
}

.recommend__card_title {
    color: var(--text-primary-color);
    font-size: var(--font-size-p);
}

.recommend__card-price {
    font-size: var(--font-size-small);
    color: var(--text-secondary-color);
}

.recommend__card {
    display: block;
    flex-direction: column;
    margin-right: var(--spacing-sm);
    margin-bottom: var(--spacing-sm);
    min-width: 200px;
}

.recommend__card-media {
    @media (max-width: 420px) {
        display: none;
    }
}

.recommend__card-rating-stars {
    width: 13px;
    height: 12px;
    display: flex;
}

.recommend__card-title {
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-medium);
    color: var(--text-primary-color);
    margin: 0;
}

.recommend__card-price {
    font-weight: var(--font-weight-regular);
    font-size: var(--spacing-s);
    margin: 0;
    color: var(--text-primary-color);
}

.recommend__card-location-pin {
    padding: 0;
    margin: 0;
}

.recommend__card-location {
    font-weight: var(--font-weight-regular);
    font-size: var(--spacing-s);
    line-height: 18px;
    color: var(--text-secondary-color);
    margin: 0;
}

.recommend__card-location-icon {
    padding-bottom: var(--spacing-2xs);
    margin: 0;
}

.recommend__card-rating-value {
    font-weight: var(--font-weight-regular);
    font-size: 14px;
    line-height: 100%;
    padding-left: 6px;
}

.recommend__cards-bottom {
    display: flex;
    margin-bottom: 124px;

    @media (max-width: 1024px) {
        margin-bottom: var(--spacing-7xl);
    }

    @media (max-width: 768px) {
        margin-bottom: var(--spacing.features__card-title-2xl);
    }
}