.container-recommend {
    padding: 0 40px;
}


.recommend-header {
    display: flex;
    justify-content: space-between;
    margin-top: var(--mt-24);
    margin-bottom: var(--mb-64);
}

.recommend-h {
    width: var(--width-l);
    margin: 0;
}

.recommend-p {
    margin: 0;
    text-align: left;
    width: var(--width-l);
}


.category {
    justify-content: center;
    display: flex;
    list-style: none;
    margin-bottom: var(--mb-48);
}

.category li {
    display: inline-block;
}

.category li:not(:last-child) {
    padding-right: var(--mr-8);
}

.cards {
    display: block;
    /*gap: var(--spacing-sx);*/
    justify-content: center;
}

.cards h3 {
    font-size: var(--font-size-p);

}

.cards p {
    font-size: var(--font-size-small);
    color: var(--text-secondary-color);
}

.recommend-card {
    display: block;
    flex-direction: column;
    margin-right: var(--mr-20);
    margin-bottom: var(--mr-20);
}


.card__stars {
    width: 13px;
    height: 12px;

    display: flex;
}

.card-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
}

.card-image {
    position: relative;
    display: inline-block;
}

.card-image img {
    display: block;
    border-radius: 22px;
}

