.service__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;

    margin: 0;
    padding: 0;
}

.service__top {
    margin-left: 184px;
    margin-right: 184px;

}

.service__header {
    margin-top: 124px;
}

.service__description {
    text-align: center;
    margin: 0;
    margin-bottom: 64px;
}

.service__cards {
    display: flex;
    gap: 40px;
    margin-bottom: 84px;
}

.service__card-icon:not(:last-child) {
    border-right: 1px solid var(--border-sevice-cards);
}

.service__cards-title {
    margin: 0;
    padding-bottom: 12px;
}

.service__cards-description {
    margin: 0;
    padding-bottom: 32px;
}

.service__card-image {
    object-fit: cover;
    object-position: center;
    padding-bottom: var(--pb-64);
}

