.service__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;

    margin: 0;
    padding: 0;
}

.service__top {
    margin-left: var(--spacing-184);
    margin-right: var(--spacing-184);
}

.service__header {
    margin-top: 124px;
}

.service__description {
    text-align: center;
    margin: 0;
    margin-bottom: var(--spacing-64);
}

.service__cards {
    display: flex;
    gap: 40px;
    margin-bottom: var(--spacing-84);
}

.service__card-icon:not(:last-child) {
    border-right: 1px solid var(--border-sevice-cards);
}

.service__cards-title {
    margin: 0;
    padding-bottom: var(--spacing-12);
}

.service__cards-description {
    margin: 0;
    padding-bottom: var(--spacing-32);
}

.service__card-image {
    object-fit: cover;
    object-position: center;
    padding-bottom: var(--spacing-64);
}

