.service__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;

    margin: 0;
    padding: 0;
}

.service__top {
    margin-left: var(--spacing-8xl);
    margin-right: var(--spacing-8xl);
}

.service__header {
    margin-top: 124px;
}

.service__description {
    text-align: center;
    margin: 0;
    margin-bottom: var(--spacing-5xl);
}

.service__cards {
    display: flex;
    gap: 40px;
    margin-bottom: var(--spacing-7xl);
}

.service__card-icon:not(:last-child) {
    border-right: 1px solid var(--border-sevice-cards);
}

.service__cards-title {
    margin: 0;
    padding-bottom: var(--spacing-2xs);
}

.service__cards-description {
    margin: 0;
    padding-bottom: var(--spacing-l);
}

.service__card-image {
    object-fit: cover;
    object-position: center;
    padding-bottom: var(--spacing-5xl);
}

