.submit {
    display: flex;
    justify-content: space-between;

    background-image:
            linear-gradient(270deg,
            #3B6DFFA6 65%,
            #000000F2 95%),
            url(/src/img/leavingroom.webp);
    background-size: cover;
}

.submit__wrapper{
    margin-top: var(--spacing-60);
}

.submit__header {
    display: flex;
    flex-direction: column;

}

.submit__title {
    padding-top: var(--spacing-24);
    margin-bottom: var(--spacing-8);
    color: var(--text-hero-color);
}

.submit__description {
    text-align: left;
    margin: var(--spacing-8);
    margin-bottom: var(--spacing-40);
    color: var(--text-hero-color);
}

