.about {
    background-color: var(--text-neutral-color);

    padding-top: var(--pt-80);
    padding-bottom: var(--pb-48);

    width: 100%;

}

.about__top {
    display: flex;
    gap: 40px;
    margin-bottom: var(--mb-48);
}

.about__heading {
    font-weight: var(--font-weight-medium);
    color: var(--text-primary-color);
    text-align: left;
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
    max-width: 112px;
    margin: 0;
}

.about__content {

    color: var(--text-tertiary-color);
    font-weight: var(--font-weight-regular);
    margin-left: 50px;
}

.about__description {
    font-size: var(--font-size-h3);
    margin: 0;
    padding-bottom: var(--pb-20);
}

.about__list {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-body);
    margin: 0;
    margin-left: 30px;
}

.about__bottom {
    display: flex;
    gap: 20px;
    justify-content: right;
    margin: 0;
}

.about__bottom-icon {
    border-radius: var(--radius-xl);
    background-repeat: no-repeat;
    object-fit: cover;
}

.about__review-card {
    background: var(--backgroung-main-color);
    padding: 32px 24px;
    border-radius: 32px;
    max-width: 548px;
    text-align: center;
    margin: 0;

}

.about__review-card blockquote {
    margin: 0;
}

.about__review-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
}

/*   */

.about__review-author {
    margin-top: 24px;
}

.about__review-name {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    color: var(--text-primary-color);
    margin: 0;
}

.about__review-position {
    color: var(--text-secondary-color);
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
}



