.header {
    background: var(--background-header-color);
    border-radius: var(--radius-xl);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 8px;

}

.header span {
    font-weight: var(--font-weight-xl);
    font-size: var(--font-size-body);
}

.header__logo {
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.header img {
    padding-right: 12px;
}

.header nav {
    display: flex;
    align-items: center;
    padding-right: 8px;
}


.header nav ul {
    font-size: var(--font-size-small);
    list-style: none;
    display: flex;

}







