.service-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-xl);
}

.service-h {
    text-align: center;
    margin-bottom: var(--spacing-m);
}

.service-p {
    text-align: center;
    max-width: var(--width-l);
}

.service-cards {
    display: flex;
    justify-content: center;
    gap: var(--spacing-xl);
}

.service-card {
    max-width: var(--width-xs);
    text-align: center;
    padding: var(--spacing-l);
}

