.container-service {
    padding: 0 var(--p-40);
}
.service-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 124px;
}

.service-h {
    text-align: center;
    margin-bottom: var(--mb-20);
}

.service-p {
    margin-top: 0;
    text-align: center;
    max-width: var(--width-l);
    margin-bottom: var(--mb-64);
}

.service-cards {
    display: flex;
    justify-content: center;
    margin-bottom: var(--mb-84);

}

.service-card:not(:last-child) {
    margin-right: var(--mr-40);

}

.service-card {
    max-width: var(--width-xs);
    text-align: center;
}

.service-card img{
    object-fit: cover;
    object-position: center;
    padding-bottom: var(--pb-64);
}

