.submit {
    padding-top: var(--spacing-l);
}

.submit header {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: var(--width-m);
}

.submit-h {
    padding-top: var(--spacing-m);
    margin-bottom: var(--spacing-xs);
}

.submit-p {
    text-align: left;
    white-space: normal;
    width: var(--width-m);
    margin: var(--spacing-xs);
    margin-bottom: var(--spacing-l);
}

