.btn {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-small);
    line-height: var(--line-height-body);
    cursor: pointer;
    transition: 0.3s;
    padding: var(--spacing-s) var(--spacing-m);
    border-radius: var(--radius-xl);
}

.btn-primary {
    border: 1px solid var(--button-primary-border-color);
    background-color: var(--button-primary-color);
    color: var(--backgroung-main-color);
    padding: 16px 35px;
    margin: 0;
}

.btn-primary:hover {
    background-color: var(--backgroung-hover-primary-color);
}

.btn-primary:active {
    background-color: var(--backgroung-active-primary-color);
}

.btn-secondary {
    border: 1px solid var(--button-secondary-border-color);
    background-color: var(--button-secondary-color);
    color: var(--text-secondary-color);
    padding: 16px 24px;
}

.btn-secondary:hover {
    color: var(--text-hover-secondary-color);
}

.btn-secondary:active {
    background-color: var(--backgroung-active-secondary-color);
    color: var(--text-active-primary-color);
}

.btn--small {
    font-size: var(--font-size-small);
    padding: 8px 24px;
}
.btn-arrow-down {
    margin-bottom: 184px;
    border: 1px solid var(--background-surface-stroke-color);
    background-color: var(--backgroung-main-color);
    width: 48px;
    height: 77px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn-arrow-down:hover {
    color: var(--btn-hover);
    border-color: var(--btn-hover);
}

.btn-arrow-down:active {
    color: var(--btn-active);
    border-color: var(--btn-active);
}

.btn-category {
    border: 1px solid var(--button-secondary-border-color);
    background-color: var(--background-surface-fill2-color);
    color: var(--text-secondary-color);
}

.btn-category:hover {
    color: var(--category-hover);
    border-color: var(--category-hover);
}

.btn.btn-category:active {
    color: var(--category-active);
    border-color: var(--category-active);
}
.btn-arrow {
    border: 1px solid var(--button-primary-border-color);
    background-color: var(--button-primary-color);
    color: var(--text-neutral-color);
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 8px;
    right: 8px;
}


.btn-more {
    display: flex;
    justify-content: right;
    margin: 0 auto;
    font-size: var(--font-size-p);
    border: 1px solid var(--button-primary-border-color);
    background-color: var(--button-secondary-color);
    color: var(--text-primary-color);
    margin-bottom: var(--mb-124);
}

.btn-more img {
    padding: 8px;
}

.btn-more:hover {
    background-color: var(--backgroung-hover-secondary-color);
    color: var(--text-hover-secondary-color);
}

.btn-more:active {
    background-color: var(--backgroung-active-secondary-color);
    color: var(--text-active-primary-color);
}



/* 
<div>
<button class="button-icon">
<img src="/img/icon-arrow.svg" alt="icon-arrow">
</button>
</div> */