.about-bottom img {
    border-radius: var(--radius-xl);
    background-repeat: no-repeat;
    object-fit: cover;
}

.review-card img {
    object-fit: cover;
    object-position: center;
}

.cards img {
    border-radius: var(--radius-l);
    object-fit: cover;
    object-position: center;

}

.features-card img {
    object-fit: cover;
}


.submit {
    background-image:
        linear-gradient(270deg,
            #3B6DFFA6 65%,
            #000000F2 95%),
        url(/img/leavingroom.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.submit img {
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram {
    background-color: var(--background-instagram-color);
    border-radius: 50px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook {
    background-color: var(--background-facebook-color);
    border-radius: 50px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter {
    background-color: var(--background-twitter-color);
    background-position: center;
    border-radius: var(--radius-logo);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.features-card img {
    display: block;
    width: 80px;
    height: 80px;
    object-fit: cover;
}