/* h1,h2,h3 */
body {
    font-family: var(--font-family-main);
    margin: 0;
    font-size: 24px;
    list-style: none;
    
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-body);
    /* color: var(--text-hero-color); */
}

h2 {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-h2);
    line-height: var(--line-height-heading);
    color: var(--text-primary-color);
}

h3 {
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-medium);
    color: var(--text-primary-color);
    line-height: var(--line-height-body);
}

.p {
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-regular);
    color: var(--text-secondary-color);
    line-height: var(--line-height-body);
}


a {
    color: var(--text-hero-color);
    text-decoration: none
}