<section class="about-us">
    <div class="container-about">
        <h2 class="about-h">About Us</h2>
        <div class="about-top">
            <p class="p about-p">Welcome to <span>Mai Home</span>, your premier destination for real estate solutions:
            </p>
            <ul>
                <li>Your top choice for excellence in real estate solutions;</li>
                <li>Passionately connecting people with their ideal homes;</li>
                <li>A beacon of industry trust and professional integrity.</li>
            </ul>
        </div>
        <figure>
            <div class="about-bottom">
                <img src="img/leavingroom.webp" alt="room" width="562px" height="495px">
                <div class="review-card">
                    <blockquote>
                        <p class="p">"I'm incredibly pleased with the service provided by UrbanNest. Their
                            professionalism and
                            dedication were
                            evident throughout the process, ultimately leading me to my dream home. I highly recommend
                            their
                            services to anyone seeking a seamless real estate experience."</p>
                    </blockquote>
                    <div class="about__img">
                        <img src="img/man-with-book.png" alt="man with book" width="64px" height="64px">
                    </div>
                    <figcaption>
                        <p>Cody Fisher</p> <span>Manager at Surya Company</span>
                    </figcaption>
                </div>
            </div>
        </figure>
    </div>
</section>