<section class="about" id="about">
    <div class="about__wrapper container">
        <h2 class="about__heading">About Us</h2>

        <div class="about__content">
            <p class="about__description">
                Welcome to
                <span>Mai Home</span>,
                your premier destination for real estate solutions:
            </p>
            <ul class="about__list">
                <li class="about__list-item">Your top choice for excellence in real estate solutions;</li>
                <li class="about__list-item">Passionately connecting people with their ideal homes;</li>
                <li class="about__list-item">A beacon of industry trust and professional integrity.</li>
            </ul>


        <figure class="about__review">
            <img class="about__review-image"
                 src="img/leavingroom.webp"
                 alt="Living room interior"
            >

            <figcaption class="about__review-card">
                <blockquote>
                    <p class="about__review-description">"I'm incredibly pleased with the service provided by
                        UrbanNest.
                        Their
                        professionalism and
                        dedication were
                        evident throughout the process, ultimately leading me to my dream home. I highly recommend
                        their
                        services to anyone seeking a seamless real estate experience."
                    </p>
                </blockquote>
                <img class="about__review-author"
                     src="img/man-with-book.png"
                     alt="man with book"
                >
                    <p class="about__review-name">Cody Fisher</p>
                    <span class="about__review-position">Manager at Surya Company</span>
                </figcaption>
            </figure>
        </div>
    </div>
</section>