<header>
    <div class="maihome">
        <div><a href="/">Mai <span>Home</span></a></div>
        <nav>
            <ul>
                <li class="p-8 mx-40"><a href="#">About Us</a></li>
                <li class="p-8 mx-40"><a href="#">Solutions</a></li>
                <li class="p-8 mx-40"><a href="#">Features</a></li>
                <li class="p-8 mx-40"><a href="#">FAQ</a></li>
                <li class="p-8 mx-40"><a href="#">Contact Us</a></li>
            </ul>
            <div>
                <button class="btn btn-secondary">Register</button>
                <button class="btn btn-primary">Login</button>
            </div>
        </nav>
    </div>

</header>