<div class="container-service">
    <section class="service">
        <div class="service-header">
            <h2 class="service-h">Tailored Real Estate Solutions for You</h2>
            <p class="p service-p">Unlock the perfect property. Discover tailored real estate solutions designed to meet
                your needs with
                precision and expertise."</p>
        </div>

        <div class="service-cards">
            <div class="service-card">
                <img src="img/chat.svg" alt="Type-Search">

                <h3>Property Search and Listing</h3>
                <p class="p">Discover available properties, uncover your ideal living space, start exploring
                    now.</p>
            </div>
            <div class="service-card">
                <img src="img/stat.svg" alt="Type-analize">

                <h3>Property Valuation</h3>
                <p class="p">Thorough property assessment, accurate valuations, crucial for informed real estate
                    decisions.</p>
            </div>
            <div class="service-card">
                <img src="img/home.svg" alt="Type-home">

                <h3>Property Management</h3>
                <p class="p">Professional property oversight, maximizing profitability, and preserving asset
                    value seamlessly.</p>
            </div>
        </div>
    </section>
</div>